body{
	font-family: Arial;
	font-size: 12px;
	color: #0c3c54;
	margin: 0px; 
	background:#d4e8ea;
}

#container{
	width: 600px;
	margin: 0 auto;
	background:#fff;
	padding: 50px;
}
a{
	color:#20b2b3;
	text-decoration:none;
}
a:hover{
	color:#fbbe1a;
	text-decoration:none;
}
label{
	margin-right: 20px;
}
p{
	font-size: 12px;
	color: #0c3c54;
}
#button_clot{
	background-color: #CCC;
	color:#000;
	border: 0px;
	padding: 2px;
	font-family: verdana;
	font-size: 14px;
	margin-top: 20px;
	cursor: pointer;
	width:155px;
}
#button{
	background-color: #1cb2b2;
	color: white;
	border: 0px;
	padding: 8px 14px;
	font-family: verdana;
	font-size: 12px;
	margin-top: 20px;
	cursor: pointer;
	font-weight:bold;
	text-transform:uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#button:hover{
	background-color: #fbbe1a;
	color: white;
	border: 0px;
	padding: 8px 14px;
	font-family: verdana;
	font-size: 12px;
	margin-top: 20px;
	cursor: pointer;
	font-weight:bold;
	text-transform:uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.programme{
	font-size: 14px;
	margin:0;
	padding:0;
	text-align:justify;
	background-color: #efefef;
}
table input, table select{
	border:none;
	background:#eee;
	padding: 5px 10px;
}
textarea{
	border:none;
	background:#eee;
	padding: 10px;
}
table {
	font-size:14px;
}
table tr {
	font-size:14px;
}
table label{
	padding: 20px 0;
	diplay:inline-block;
}
.obl{
	font-size: 12px;
	color: #1cb2b2;
}
#upload{
	background:#eee;
	color: #0c3c54;
	border: 0px;
	padding: 8px 14px;
	font-family: verdana;
	font-size: 12px;
	margin: 0px 15px 20px 0px;
	padding: 15px 20px;
	cursor: pointer;
	text-transform:uppercase;
	text-align: center;
	line-height: 20px;
}
h2{
	font-size:20px;
	line-height: 30px;
}