html {
	background: #7da432 url(http://www.prixdeleconomiesociale.be/wp-content/themes/Nimble/images/bg-header2.jpg) repeat-x;
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	
	width: 100%;
	display: table;
	font: 62.5% "Lucida Grande", "Lucida Sans Unicode", Sans-Serif;
	color: #555555;
	text-align: left;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Actor', sans-serif;
	letter-spacing: 0,8px;
	color:#00000;
	text-align: center;
	}
h2 {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Actor', sans-serif;
	letter-spacing: 0,8px;
	line-height: 24px;
	}
h2#adresse_entreprise {
	text-align: right;

	}
h3 {
	font-size: 12px;
	font-weight: bold;
	font-family: 'Actor', sans-serif;
	letter-spacing: 0,8px;
	color:#00000;
	text-align: center;
	}

#container3 {
	width: 750px;
	margin: 0 auto;
	padding: 40px;
	background-color:#ffffff;
	text-align: left;
}
#container2 {
	width: 700px;
	margin: 0 auto;
	padding: 40px;
	background-color:#ffffff;
	text-align: left;
}
#container {
	width: 1000px;
	margin: 0 auto;
	padding: 40px;
	background-color:#ffffff;
	font-size: 1.3em;
	opacity : 0.9;
    filter : alpha(opacity=90);
	text-align: left;
}
#footer-bottom{
	width: 1000px;
	margin: 0 auto;
	background-color:#f5f5f5;
	padding: 20px 40px;
	text-align:center;
	border-top: 2px solid #7da432;
}
#footer-bottom2{
	width: 750px;
	margin: 0 auto;
	background-color:#f5f5f5;
	padding: 20px 40px  10px 40px;
	text-align:center;
	border-top: 2px solid #7da432;
}
#footer-bottom2 img{
	height: 50px;
}
#footer-bottom #copyright{
	text-align:center;
	font-weight:bold;
}
.titre_page{
text-align: center;
margin: 20px 0 20px 0;
}
table, p{
font: 12px "Lucida Grande", "Lucida Sans Unicode", Sans-Serif;
text-align: left;
line-height:18px;
}
ul li, ol li{
	font-size: 12px;
	font-weight:normal;
	line-height:18px;
}
ul, ol{
	margin: 0 0 20px 0;
}
#expl{
	font-size: 12px;
	border-top: 1px dotted #cccccc;
	color:#7c7b7b;
	margin-top: 25px;
	padding-top:10px;
	border-bottom: 1px dotted #cccccc;
}
input, textarea{
background:#f2f2f2;
	color:#000000;
	border:1px solid #ccc;
	padding: 5px;
}
a{
color: #e85126;
text-decoration:none;
}
a:hover{
color: #8fbc1e;
text-decoration:none;
}
label{
	margin-right: 40px;
	font-weight: bold;

}

#button_clot{
background-color: #CCC;
color:#000;
border: 0px;
padding: 2px;
font-family: verdana;
font-size: 10px;
margin-top: 20px;
cursor: pointer;
width:155px;
}
#button{
background-color: #8fbc1e;
color: white;
border: 0px;
padding: 5px;
font-family: 'Actor', sans-serif;
font-size: 15px;
margin-top: 0px;
margin-bottom: 10px;
cursor: pointer;
font-weight:bold;
}
#button:hover{
background-color: #e85126;
}
div#result{
border: 1px solid #e7e7e7;
margin-right: 5px;
padding: 5px;
background-color: #f3f3f3;
color:#3d3d3c;
text-align:center;
height: 180px;
line-height: 16px;
}
div#result:hover{
border: 1px solid #ced0c4;
margin-right: 5px;
padding: 5px;
background-color: #e7e7e7;
color:#333333;
text-align:center;
}
#titre{
width: 190px;
color: #333333;
font-size: 14px;
padding: 0 0 18px 0;
margin-bottom: 10px;
border-bottom : 3px dashed #cccccc;
}
table#table_liste{
padding-left:0px;
}
table#table_liste tr{
padding-top: 0px;
}
#vote{
background-color:#f0f0f0;
padding: 5px 20px;
border-radius:20px;
width: 700px;
margin-left: 0px;
}

#titre_entr{
	font-size: 20px;
	display:block;
	line-height:32px;
}
table#result{
 width:684px;
 
}
a#btn_vote{
	background-color: #8fbc1e;
	color:#ffffff;
	font-weight:bold;
	font-size: 11px;
	padding: 5px;
}
a#btn_vote2{
	background-color: #d3d4d2;
	color:#ffffff;
	font-weight:bold;
	font-size: 11px;
	padding: 5px;
}
a#btn_vote:hover, a#btn_vote2:hover{
	background-color: #dd5e3b;
}

#echecvote{
	background-color:#f1d8d3;
	padding: 20px;
	border-radius:20px;
	width: 700px;
	margin-left: 0px;
	color:red;
	font-size:16px;
	text-align:center;
	line-height: 24px;
}
#validevote{
	background-color:#dff4e4;
	padding: 20px;
	border-radius:20px;
	width: 700px;
	margin-left: 0px;
	color:#2e9b0d;
	font-size:16px;
	text-align:center;
	line-height: 24px;
}

