/*
Theme Name: Nimble
Theme URI: http://www.elegantthemes.com/gallery/
Version: 1.5
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/

/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

html { -webkit-font-smoothing: antialiased; }
body { font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; color: #555e58; background-color: #f5f5f5; }

a { text-decoration: none; color: #16b5b5; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 25px; color: #111; line-height: 1em; font-weight: normal; letter-spacing: -2px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #111; }
h1 { font-size: 26px; line-height: 38px;}
h2 { 
			font-weight:normal;
			font-size: 26px;
			line-height:36px;
			color:#e5485b;
			margin: 30px 0 15px 0;
			padding: 0;
			letter-spacing: 1px;
			text-transform: uppercase;
	}
			
			
			
h3 { letter-spacing: 5px; color:#0d3950; font-size: 18px; font-weight: 900; padding: 25px 0 20px 0; line-height: 26px; }
h4 { font-size: 16px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 24px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#main-header { background: url(images/bg-header.jpg) repeat top center;  height: 317px; }
	.container { text-align: left; margin: 0 auto; width: 960px; position: relative;  }
		#top-area { padding: 50px 0 0px 0; }
			#logo { float: left; padding-left: 0px; display: none; }
			#top-menu { float: right; margin-top: 3px; }
				#top-menu li { display: inline-block; }
					#top-menu a { font-size: 12px; color: #0d3950; text-decoration: none; padding: 9px 13px;  display: block; text-transform: uppercase; }
					#top-menu ul li ul.sub-menu  { 
						padding: 20px 10px 10px 10px; 
						width: 200px; 
						margin: 5px 0 0 65px; 
						border:0px solid red;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						background: #1b818c;
					}
					#top-menu ul li.current-menu-parent ul.sub-menu li.current-menu-item a { color: #fbbe18; }
					#top-menu ul li ul li { margin: 0px; background: #1b818c; padding: 0px 0; width: 100%;}
					#top-menu ul li ul li a{ color:#ffffff; display:block; padding:0; width:100%; margin: 0px 8px; height: 25px;}
					#top-menu ul li ul li a:hover{ color:#fbbe18; }
					a.mobile_nav { font-size: 14px; color: #15577e; text-decoration: none; text-shadow: 0px 0px 0 rgba(0,0,0,0.2); padding: 9px 13px; display: block; }
		#featured { position: relative; }
		#featured:after { content: ''; position: absolute; height: 13px; bottom: 0; left: 0; width: 100%; }
			#featured .container { text-align: left; line-height: 0; }
			#featured
				#featured p { color: #ffffff; display:block; padding: 5px; }
				#featured h2{ 
					width: 50%;
					display: block;
					margin: 40px 0 30px 50%; 
					text-align: left;
					padding: 0 0 0 15px;
					text-shadow: 2px 2px 0px #ffffff;
				}
				#featured h2 a{ 
					font-size: 46px; 
					line-height: 50px;

				}
				#featured h2 span, #featured .description { font-weight: 900; }
				#featured .description { 
					font-size: 26px; 
					line-height: 32px;
					padding: 10px 0 10px 50%; 
					color: #fff; 
					letter-spacing: 0px; 
					font-weight:500;
					width: 50%;
					text-transform: uppercase;
					display: block;
					text-align: left;
				}
				
#home-section-info { padding: 76px 0 60px 0; background-color: #ffffff; }
	.home-section .container { text-align: center; }
		#services { text-align: left; padding-bottom: 55px; }
			.service { float: left; width: 274px; margin-right: 69px; padding-top: 150px; background: url(images/service.png) no-repeat top center; position: relative; }
			.last { margin-right: 0 !important; }
				.service h3 { font-size: 24px; font-weight:bold; color:#555e58; letter-spacing: 0; text-align:center; }
				.service p { text-align:center;}
					a.learn-more { position: relative; left:50%; margin: 40px 0 0 -65px; text-decoration: none; background: #16B5B5;  border: 0px solid #ebf6f8; border-radius: 5px 5px 5px 5px;  color: #fff; display: inline-block; padding: 10px 16px;  width: 90px; text-align:center; transition: all 0.2s ease-in-out; }
					a.learn-more:hover { position: relative; left:50%; margin: 40px 0 0 -65px; text-decoration: none; background: #FBBE18;  border: 0px solid #e75229; border-radius: 5px 5px 5px 5px;  color: #ebf6f8; display: inline-block; padding: 10px 16px;  width: 90px; text-align:center; transition: all 0.2s ease-in-out; }
					
					.comment-reply-link, .form-submit input  {  float: center; text-decoration: none; background: rgb(249,249,249); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(246,246,246,1) 100%, rgba(242,242,242,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(246,246,246,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(246,246,246,1) 100%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(246,246,246,1) 100%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(246,246,246,1) 100%,rgba(242,242,242,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(246,246,246,1) 100%,rgba(242,242,242,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */ border: 1px solid #e0dddd; border-radius: 5px 5px 5px 5px; -webkit-box-shadow: 1px 1px 0 #fcfcfc inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 1px 1px 0 #fcfcfc inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 1px 1px 0 #fcfcfc inset, 0 1px 2px rgba(0,0,0,0.1); color: #e5485b; display: inline-block; padding: 10px 16px; text-shadow: 0px 0px 0 #ffffff; }
					.blog-post a.learn-more:hover, .comment-reply-link:hover, #home-section-news a.more-info:hover, #home-section-projects a.more-info:hover, #home-section-pricing a.more-info:hover { color: #ffffff; text-shadow: 0px 0px 0 rgba(0,0,0,0.2); border: 1px solid #dd6141; -webkit-box-shadow: 1px 1px 0 #f89e68 inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 1px 1px 0 #f89e68 inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 1px 1px 0 #f89e68 inset, 0 1px 2px rgba(0,0,0,0.1); background: rgb(240,123,73); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(240,123,73,1) 0%, rgba(230,104,71,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,123,73,1)), color-stop(100%,rgba(230,104,71,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(240,123,73,1) 0%,rgba(230,104,71,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(240,123,73,1) 0%,rgba(230,104,71,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(240,123,73,1) 0%,rgba(230,104,71,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(240,123,73,1) 0%,rgba(230,104,71,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f07b49', endColorstr='#e66847',GradientType=0 ); /* IE6-9 */
-webkit-animation: bounceIn_custom 0.7s ease-in-out; -moz-animation: bounceIn_custom 0.7s ease-in-out; -o-animation: bounceIn_custom 0.7s ease-in-out; animation: bounceIn_custom 0.7s ease-in-out; }
		#quote { position: relative; padding: 0px 50px 50px 50px; border-top: 1px solid #eaeaea;}
		#quote:after { content: ''; position: absolute; height: 24px; top: 0; right: 0; width: 26px; }
			#quote h3 { font-size: 28px; color: #555e58; font-weight: 600; letter-spacing: -1px; padding-bottom: 12px; line-height: 38px; }
			#quote p { font-size: 24px; color: #555e58; font-weight: 300; line-height: 36px; letter-spacing: -1px; }
#home-section-news { 
	padding: 60px 0 20px 0; 
	background: #cbe6e7 url(images/bg_etapes.png) no-repeat top left;

}
#home-section-news .blog-post:first-child .blog-post-image {
	background: url(images/etapes_fleches_first.png) no-repeat center right;
}
#home-section-news .blog-post:last-child .blog-post-image {
	background: url(images/etapes_fleches_last.png) no-repeat center right;
}
#home-section-news .blog-post-image .overlay { display: none; }
#home-section-news .blog-post .blog-post-image { background: url(images/etapes_fleches.png) no-repeat center right; }


	#home-section-news .section-title, #home-section-pricing .section-title { text-shadow: 0px 0px 0px #4d660f; }
		#home-section-news .section-title h3, #home-section-pricing .section-title h2, #home-section-pricing .section-title h3 { color: #ffffff; text-transform: uppercase; }
		#home-section-news .section-title h2 { color: #10616a; text-transform: uppercase; }
		.section-title h3 { 
			margin: 15px 0 0 0;
		}
		.section-title h2 { font-size:46px; font-weight: 800; padding-bottom: 0px; letter-spacing: 0.5px; line-height: 52px; margin: 40px 0 0 0; }
		#page-name, #page-name .section-title { 
			margin:0;
			padding: 0;
			text-shadow: 0px 0px 0px #4d660f;
		}
		#page-name .section-title h1 { 
			font-size: 46px; 
			line-height: 54px; 
			text-transform: uppercase;
			font-weight: 800; 
			padding: 0 0 0 20px; 
			margin: 50px 0 0 50%;
			height: 144px;
			text-shadow: 0px 0px 0px #4d660f;
			text-align: left;
			width: 48%;
			letter-spacing: 0.2px
		}
			
			.section-title span { font-weight: 300; }
		.section-title h3, .main_post_info { font-size: 36px; font-weight: 300; }
		.home-section .section-title { padding-bottom: 55px; }
	#blog-posts { text-align: center; }
		.blog-post { float: left; width: 25%; margin: 0 0px 60px 0; text-shadow: 0px 0px 0 rgba(0,0,0,0.3); }
		.blog-post:hover {
			
		}
			.blog-post h3{ 
				font-size: 24px; 
				font-weight: normal; 
				padding-bottom: 0px; 
				padding-top: 30px; 
				letter-spacing: 0.2px; 
				color: #156c6e; 
				text-transform: uppercase;
			}
			#home-section-news .blog-post p{ 
				color: #10616a; 
				padding-top: 10px;
				letter-spacing: 0.2px; 
				font-size: 18px;
				font-weight: bold; 
			}
			.blog-post .meta-info { color: #b0bab4; padding-bottom: 3px; }
				.blog-post .meta-info a { color: #b0bab4; text-decoration: none; }
			.blog-post p { color: #ffffff; }
			.blog-post a.learn-more { text-align:center; background: 638315; /* Old browsers */ background: -moz-linear-gradient(top,  #638315 0%, #587415 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#638315), color-stop(100%,#587415)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #638315 0%,#587415 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #638315 0%,#587415 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #638315 0%,#587415 100%); /* IE10+ */ background: linear-gradient(to bottom,  #638315 0%,#587415 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69736d', endColorstr='#636b66',GradientType=0 ); /* IE6-9 */  border: 1px solid #4b6a00; -webkit-box-shadow: 0 1px 0 #8daf39 inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 0 1px 0 #8daf39 inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 0 1px 0 #8daf39 inset, 0 1px 2px rgba(0,0,0,0.1); color: #141c02; text-shadow: 0px 0px 0 rgba(255,255,255,0.3); }
	a.more-info { text-decoration: none; border-radius: 10px 10px 10px 10px; display: inline-block; padding: 18px 26px; font-size: 30px; font-weight: 300; }
	#home-section-news a.more-info { background: rgb(99,106,102); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(99,106,102,1) 1%, rgba(82,91,85,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(99,106,102,1)), color-stop(100%,rgba(82,91,85,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(99,106,102,1) 1%,rgba(82,91,85,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(99,106,102,1) 1%,rgba(82,91,85,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(99,106,102,1) 1%,rgba(82,91,85,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(99,106,102,1) 1%,rgba(82,91,85,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636a66', endColorstr='#525b55',GradientType=0 ); /* IE6-9 */ border: 1px solid #404642; -webkit-box-shadow: 0 1px 0 #748078 inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 0 1px 0 #748078 inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 0 1px 0 #748078 inset, 0 1px 2px rgba(0,0,0,0.1); color: #fff; text-shadow: 0px 0px 0 rgba(0,0,0,0.6); }



#home-section-projects { padding: 40px 0 40px 0; background-color: #f5f5f5; }
	#home-section-projects .section-title { text-shadow: 0px 0px 0px #fff; }
		#home-section-projects .section-title h2, #home-section-projects .section-title h3 { color: #636b66; }

		#home-section-projects .portfolio-image .overlay{
			display: none;
		}

	#home-section-projects a.more-info { 
		background: rgb(249,249,249); /* Old browsers */ 
		background: -moz-linear-gradient(top,  rgba(249,249,249,1) 1%, rgba(242,242,242,1) 100%); /* FF3.6+ */ 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(249,249,249,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(242,242,242,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(249,249,249,1) 1%,rgba(242,242,242,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */ border: 1px solid #e0dddd; -webkit-box-shadow: 0 1px 0 #fcfcfc inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 0 1px 0 #fcfcfc inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 0 1px 0 #fcfcfc inset, 0 1px 2px rgba(0,0,0,0.1); 
		color: #636b66; text-shadow: 0px 0px 0 rgba(255,255,255,0.3); 
		border: 1px solid red;
	}
#home-section-pricing { padding: 120px 0; background-color: #404f59; }
	#home-section-pricing a.more-info { 
		display:none; background: rgb(61,75,85); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(61,75,85,1) 1%, rgba(53,66,75,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(61,75,85,1)), color-stop(100%,rgba(53,66,75,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(61,75,85,1) 1%,rgba(53,66,75,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(61,75,85,1) 1%,rgba(53,66,75,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(61,75,85,1) 1%,rgba(53,66,75,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(61,75,85,1) 1%,rgba(53,66,75,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4b55', endColorstr='#35424b',GradientType=0 ); /* IE6-9 */ border: 1px solid #2d363d; -webkit-box-shadow: 0 1px 0 #495a66 inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 0 1px 0 #495a66 inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 0 1px 0 #495a66 inset, 0 1px 2px rgba(0,0,0,0.1); color: #fff; text-shadow: 0px 0px 0 rgba(0,0,0,0.6); }

	#page-name { text-align: center; margin-top: -20px; }
		#page-name .section-title h1, #page-name .section-title h3, .main_post_info { color: #0d3950; text-shadow: 0px 0px 0px rgba(0,0,0,0.4); }
		#page-name .section-title{ padding-bottom: 35px; }
#main-area { background-color: #fff; border-bottom: 1px solid #e0dddd; }
	#content-area  { padding: 40px 0 40px; position: relative; }
	#content-area:before { border-left: 1px solid #e0dddd; content: ""; height: 100%; left: 691px;
    position: absolute; top: 0; width: 1px; }
		#left-area { float: left; margin-right: 40px; width: 651px; }
		#left-area #btn_vote {
			
			margin: 30px 0 30px 0;
		}


		#left-area a #vote{
			width:290px;
			height:55px;
			background-color:#e75229;
			border-bottom:2px solid #cb4b28;
			text-align:center;
			padding:7px 0 0 0;
			margin:0 0 10px 0;
			font-size:14px;
			color:#ffffff;
			text-transform:uppercase;
			line-height: 22px;
			
		}
		#left-area a #vote:hover{
			width:290px;
			height:55px;
			background-color:#8ebb1e;
			border-bottom:2px solid #789f18;
			text-align:center;
			padding:7px 0 0 0;
			margin:0;
			font-size:14px;
			color:#ffffff;
			text-transform:uppercase;
			line-height: 22px;
			
		}
		#left-area a#vote{
			width:290px;
			height:55px;
			background-color:#e75229;
			border-bottom:2px solid #cb4b28;
			text-align:center;
			padding:7px 15px;
			margin:20px 20px 20px 0;
			font-size:13px;
			color:#ffffff;
			text-transform:uppercase;
			line-height: 22px;
			font-weight:bold;
			
		}
		#left-area a#vote:hover{
			width:290px;
			height:55px;
			background-color:#8ebb1e;
			border-bottom:2px solid #789f18;
			text-align:center;
			padding:7px 15px;
			margin:20px 20px 20px 0;
			font-size:13px;
			color:#ffffff;
			text-transform:uppercase;
			line-height: 22px;
			font-weight:bold;
			text-decoration:none;
		}
		#left-area a.learn-more { margin: 0px 0 20px 0px; text-decoration: none; background: rgb(249,249,249);  border: 1px solid #e0dddd; border-radius: 5px 5px 5px 5px;  color: #e5485b; display: inline-block; padding: 10px 16px; text-shadow: 0px 0px 0 #ffffff;  text-align:center; width:auto; font-weight:bold;}
		#left-area a.learn-more:hover { margin: 0px 0 20px 0px; text-decoration: none; background: #e75229;  border: 1px solid #e75229; border-radius: 5px 5px 5px 5px;  color: #fff; display: inline-block; padding: 10px 16px; text-shadow: 0px 0px 0 #e75229;  text-align:center; width:auto; font-weight:bold;}
		#left-area a #vote #cat{
			font-size:18px;
			text-align:center;
			font-weight:bold;
			color:#ffffff;
		}
		#left-area p#intro{
			font-weight:bold;
			font-size: 30px;
			line-height:38px;
			color:#0d2b3d;
			margin: 0px 0 5px 0;
			padding: 0;
			letter-spacing: -0.5px;
		}

		#left-area img{
			margin: 0px 0 10px 0;
		}
		#left-area p{
			margin: 0 0 15px 0;
			padding:0;
		}
		#left-area p#upp{
			font-weight:bold;
			font-size: 18px;
			line-height:24px;
			color:#0d2b3d;
			text-transform:uppercase;
		}
		#left-area p#puce{
			padding: 0 0 0 30px;
			line-height:30px;
			
		}
		#left-area p#puce a{
			color:#16b5b5
			font-weight:bold;
			
		}
		#left-area p#puce a#recul{
			padding: 0 0 0 30px;
			
		}
		#left-area p#intro #lightgreen, #left-area p#upp #lightgreen{
			color:#16b5b5;
		}
		#left-area  #red{
			color:#e5485b;
		}
		#left-area div#expl{
			background: url(images/bg_info.jpg) repeat;
			padding:20px 25px 15px 25px;
			margin: 45px 0 45px 0;
			font-size: 16px;
		}
		#left-area div#expl2{
			padding:20px 25px 5px 25px;
			margin: 25px 0 25px 0;
			font-size: 16px;
			border: 2px dashed #e6e6e6;
		}
		#left-area div#expl-publ{
			background: url(images/bg_info.jpg) repeat;
			padding:20px 40px 15px 40px;
			margin: 35px 0 45px 0px;
			font-size: 16px;
			min-height: 347px;
		}
		#left-area img#img-pub{
			float: left;
			margin: 35px 20px 0 0;

		}
		#left-area div#expl-publ p.titre-publication{
			font-weight: 400;
			margin: -20px 0 0 0px;
			padding: 20px;
			font-size: 20px;
			line-height: 30px;
			display: block;
			font-style: italic;

		}
		#left-area div#expl-publ p.titre-publication::before,
		#left-area div#expl-publ p.titre-publication::after{
			content: " ' ";
		}
		#left-area div#ligne{
			padding:0;
			margin: 5px 0 40px 0;
			border-top: 2px dashed #e6e6e6;
			width:100%;
		}
		#left-area div#expl p{
			margin:0;
			padding:0;
		}
		#left-area div#expl img{
			margin: 20px 0 10px 0;
		}
		#left-area a#lirepub{
			background:#8fbc1e;
			width: 140px;
			text-align:center;
			background: #16B5B5;  
			border-radius: 5px 5px 5px 5px;  
			color: #fff; 
			display: inline-block;
			padding: 10px 16px; 
			text-align:center; 
			transition: all 0.2s ease-in-out;	
			margin: 30px 0 0 0;	
		}
		#left-area a#lirepub:hover{
			text-decoration: underline;
		}

			.entry { float: left; width: 265px; margin-right: 80px; margin-bottom: 40px; }
				.post-title { text-align: center; position: relative; border-bottom: 1px solid #f0efef; margin-bottom: 10px; }
				.post-title:before { content: ""; height: 8px; left: 50%; position: absolute; bottom: -7px; width: 13px; margin-left: -6px; background: url(images/post-title-bg.jpg) no-repeat; }
					.entry h2.title { font-size: 22px; font-weight: 800; padding-bottom: 5px; letter-spacing: -1px; text-align:left; }
						.entry h2.title a { text-decoration: none; color: #555e58; }
						.entry h2.title a:hover { color: #111; }
					.entry .meta-info { font-size: 14px; font-weight: 300; font-style: italic; }
						.entry .meta-info a { text-decoration: none; color: #555e58; }
						.entry .meta-info a:hover { color: #111; }

.et_page_icon { position: absolute; top: 20px; left: 100px; }

.blog-post-image { text-align: center; margin-bottom: 10px; }
	.blog-post-image a, .portfolio-image { display: inline-block; position: relative; }
		.blog-post-image  img, .portfolio-image img { display: block; }
		.blog-post-image  img, .blog-post-image  .overlay, .portfolio-image img, .portfolio-image .overlay, .portfolio_description { -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
		.opera .blog-post-image  img, .opera .blog-post-image  .overlay, .opera .portfolio-image img, .opera .portfolio-image .overlay, .opera .portfolio_description { border-radius: 100em; }

		.blog-post-image  .overlay, .portfolio-image .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.7), 1px 1px 0 rgba(255,255,255,0.2); -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.7), 1px 1px 0 rgba(255,255,255,0.2); box-shadow: inset 0 0 5px rgba(0,0,0,0.7), 1px 1px 0 rgba(255,255,255,0.2); }

.portfolio_description {  text-shadow: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; -moz-transform: scale(0); -webkit-transform: scale(0); opacity: 0; -moz-transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; background: rgba(255,255,255,0.5); }
.portfolio_description a{ padding: 10px 0 0 0; }

.portfolio_info_top, .portfolio_description > a { opacity: 0; -moz-transition: all 0.4s ease-in-out 0.2s; -webkit-transition: all 0.4s ease-in-out 0.2s; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; position: absolute; }
.portfolio_info_top { top: 80px; left: 0; width: 252px; text-align: center; padding: 0 7px; }
.portfolio_description > a { bottom: 44px; left: 80px;   }
.portfolio-image:hover .portfolio_description, .portfolio-image.et_hover .portfolio_description { -moz-transform: scale(1); -webkit-transform: scale(1); opacity: 1; }
.portfolio-image:hover .portfolio_info_top, .portfolio-image.et_hover .portfolio_info_top  { -moz-transform: translateY(20px); -webkit-transform: translateY(20px); opacity: 1; }
.portfolio-image:hover .portfolio_description > a, .portfolio-image.et_hover .portfolio_description > a { 
	-moz-transform: translateY(-20px); 
	-webkit-transform: translateY(-20px); 
	opacity: 1; 
	border: none;
	background: #e5485b;
	color: #fff;
	box-shadow: none;
}

.post-thumbnail.portfolio-image { margin: 0 0 15px; text-align: center; }

.comments_count { position: absolute; bottom: -16px; left: 50%; margin-left: -31px; display: block; }
	.comments_count a { display: block; background: url(images/comments_count.png) no-repeat; color: #fff; font-weight: 900; font-size: 22px; text-shadow: 0px 0px 0px rgba(0,0,0,0.3);  width: 62px; height: 76px; line-height: 61px; text-decoration: none; letter-spacing: -2px; }

.main_post_info { padding-bottom: 0; line-height: 1; }
	.main_post_info a { color: #fff; text-decoration: none; }

.post-thumbnail { position: relative; margin-bottom: 38px; display:none;}
	.post-thumbnail img { display: block; }
	.post-thumbnail span.overlay { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); box-shadow: inset 0 0 7px rgba(0,0,0,0.5); }

article.post ul, .comment-content ul, article.page ul { list-style-type: disc; padding: 0 0 23px 16px; line-height: 26px; }
article.post ol, .comment-content ol, article.page ol { list-style-type: decimal; list-style-position: inside; padding: 0 0 23px 16px; line-height: 26px; }
	.post ul li ul, .post ul li ol, .comment-content ul li ul, .comment-content ul li ol, article.page ul li ul, article.page ul li ol { padding: 2px 0px 2px 20px; }
	.post ol li ul, .post ol li ol, .comment-content ol li ul, .comment-content ol li ol, article.page ol li ul, article.page ol li ol  { padding: 2px 0px 2px 35px; }


	
#breadcrumbs { background: #f5f5f5; color:#f5f5f5;  font-weight: 900; font-size:12px;}
	#breadcrumbs a, #breadcrumbs span.raquo { font-weight:400; color:#adadad; display: inline-block; background: #f5f5f5; padding: 20px 0 20px 0px; margin-right: -4px; }
	#breadcrumbs a:hover { color: #e5485b; text-decoration: none; }

	#breadcrumbs span.raquo { background: url(images/breadcrumbs_separator.png) no-repeat; text-indent: -9999px; padding: 5px 16px 5px 16px; top: -1px; position: relative; margin-right: 8px; }
	#breadcrumbs span.raquo:last-child { background: url(images/breadcrumbs_separator.png) no-repeat; margin-right: 8px; }

	#breadcrumbs_box { font-weight:400; color:#adadad; background: #f5f5f5; float: left; position: relative; min-height: 20px; margin-left: 0px; padding-top: 1px; }
	


/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/

ul.nav > li.current-menu-item > a, a.mobile_nav, ul.nav > li.current-menu-parent > a { 
	background: #ffffff;  
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.nav li ul, .et_mobile_menu { background: #f5f5f5; border: 1px solid #dddddd; padding: 15px 30px; width: 128px;  }
	ul.nav ul  li { margin: 14px 0;}
		ul.nav li ul  a { padding: 0 !important; width: 178px;}
		

.et_mobile_menu { position: absolute; top: 38px; left: -66px; z-index: 1000; display: none; text-align: left; padding-top: 10px; padding-bottom: 8px; }
	.et_mobile_menu li { padding-left: 0 !important; margin: 20px 0; }
		.et_mobile_menu ul { display: block !important; visibility: visible !important; padding-left: 20px; }
		.et_mobile_menu a { color: #133950; }

/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li { display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
img { max-width: 100%; height: auto; width: auto; }
.flexslider  img { vertical-align: bottom; width: auto; }

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/

#featured { overflow: hidden; }
#featured.flexslider { position: relative; zoom: 1; }
#featured.flexslider .slides { zoom: 1; width: 960px; margin: 0 auto; }
#featured.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
#featured .flex-container {zoom: 1; position: relative;}

#featured .flex-direction-nav a { position: absolute; text-indent: -9999px; top: 50%; margin-top: -22px; width: 44px; height: 44px; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; opacity: 0; }
#featured .flex-direction-nav a.flex-prev { left: 60px; background: url(images/slider_left_arrow.png) no-repeat; }
#featured .flex-direction-nav a.flex-next  { right: 60px; background: url(images/slider_right_arrow.png) no-repeat; }

#featured:hover .flex-direction-nav a { opacity: 1; }
#featured:hover .flex-direction-nav a.flex-prev { left: 80px; }
#featured:hover .flex-direction-nav a.flex-next { right: 80px; }

#featured .flex-control-nav { display: none; }

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}

@-webkit-keyframes bounceIn_custom {
	0% {
		-webkit-transform: scale(1);
	}

	25% {
		-webkit-transform: scale(.8);
	}

	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn_custom {
	0% {
		-moz-transform: scale(1);
	}

	25% {
		-moz-transform: scale(.8);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn_custom {
	0% {
		-o-transform: scale(1);
	}

	25% {
		-o-transform: scale(.8);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn_custom {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(.8);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes fadeInUp_custom {
	0% {
		opacity: 0;
		-webkit-transform: translateY(270px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp_custom {
	0% {
		opacity: 0;
		-moz-transform: translateY(270px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp_custom {
	0% {
		opacity: 0;
		-o-transform: translateY(270px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp_custom {
	0% {
		opacity: 0;
		transform: translateY(270px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#featured .slide { text-align: center; -webkit-transform: translate3d(0,0,0); }
	/* .cssanimations.csstransitions #featured .slide { padding-bottom: 295px; } */
	#featured .slide h2 a { color: #143a51; text-decoration: none; font-weight:900; letter-spacing: -1px; }

	#featured .slide img, #featured .slide h2, #featured .slide .description { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translate3d(0,0,0); }

	.home-section, #main-footer, #quote, .blog-post-image, .comments_count { -webkit-transform: translate3d(0,0,0); }

	#featured .slide.flex-active-slide img {
		-webkit-animation-duration: .7s;
		-webkit-animation-delay: .4s;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-fill-mode: both;
		-moz-animation-duration: .7s;
		-moz-animation-delay: .4s;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-fill-mode: both;
		-o-animation-duration: .7s;
		-o-animation-delay: .4s;
		-o-animation-timing-function: ease-in-out;
		-o-animation-fill-mode: both;
		-ms-animation-duration: .7s;
		-ms-animation-delay: .4s;
		-ms-animation-timing-function: ease-in-out;
		-ms-animation-fill-mode: both;
		animation-duration: .7s;
		animation-delay: .4s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: both;

		-webkit-animation-name: fadeInUp_custom;
		-moz-animation-name: fadeInUp_custom;
		-o-animation-name: fadeInUp_custom;
		-ms-animation-name: fadeInUp_custom;
		animation-name: fadeInUp_custom;
	}

	#featured .slide.flex-active-slide .description {
		-webkit-animation-duration: .7s;
		-webkit-animation-delay: .9s;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-fill-mode: both;
		-moz-animation-duration: .7s;
		-moz-animation-delay: .9s;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-fill-mode: both;
		-o-animation-duration: .7s;
		-o-animation-delay: .9s;
		-o-animation-timing-function: ease-in-out;
		-o-animation-fill-mode: both;
		-ms-animation-duration: .7s;
		-ms-animation-delay: .9s;
		-ms-animation-timing-function: ease-in-out;
		-ms-animation-fill-mode: both;
		animation-duration: .7s;
		animation-delay: .9s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: both;

		-webkit-animation-name: bounceIn;
		-moz-animation-name: bounceIn;
		-ms-animation-name: bounceIn;
		-o-animation-name: bounceIn;
		animation-name: bounceIn;
	}

	#featured .slide.flex-active-slide h2 {
		-webkit-animation-duration: .7s;
		-webkit-animation-delay: 1.4s;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-fill-mode: both;
		-moz-animation-duration: .7s;
		-moz-animation-delay: 1.4s;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-fill-mode: both;
		-o-animation-duration: .7s;
		-o-animation-delay: 1.4s;
		-o-animation-timing-function: ease-in-out;
		-o-animation-fill-mode: both;
		-ms-animation-duration: .7s;
		-ms-animation-delay: 1.4s;
		-ms-animation-timing-function: ease-in-out;
		-ms-animation-fill-mode: both;
		animation-duration: .7s;
		animation-delay: 1.4s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: both;

		-webkit-animation-name: bounceIn;
		-moz-animation-name: bounceIn;
		-ms-animation-name: bounceIn;
		-o-animation-name: bounceIn;
		animation-name: bounceIn;
	}

/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

#comment-wrap { margin-top: 65px; }
	h1#comments, #reply-title { color: #555e58; font-size: 30px; font-weight: 900; margin-bottom: 38px; }

	.comment-body { position: relative; padding-left: 82px; margin: 0 0 30px; }
	.comment_avatar { position: absolute; top: 2px; left: 0; }
		.comment_avatar img { display: block; }
		.comment_avatar:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-shadow: inset 0 0 7px rgba(0,0,0,0.5); }
		.comment_postinfo { font-size: 18px; margin-bottom: 10px; }
		span.fn, span.fn a { text-decoration: none; color: #555e58; font-weight: 800; letter-spacing: -1px; }
		.comment_date { color: #c5c5c5; font-weight: 300; margin-left: 3px; }
	.comment-reply-link:hover { text-decoration: none; }

	.comment ul { margin-left: 82px; }

	#reply-title  { margin-bottom: 10px; }

	#commentform input[type="text"] { width: 40%; }
	#commentform textarea { width: 89%; }
	#commentform textarea, #commentform input[type="text"] { border: 1px solid #e0dddd; padding: 20px; color: #555e58; font-size: 14px; background: #fff; -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.1); box-shadow: inset 0 0 7px rgba(0,0,0,0.1); }

	#reply-title small { display: block; font-size: 12px; padding-top: 5px; font-weight: bold; }

	.form-submit { text-align: right; }
		.form-submit input { font-size: 14px; float: none; }

	.comment #respond, #trackbacks { margin-bottom: 30px; }

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#main-footer { padding-top: 70px; background: #203b3e;  }
	#footer-widgets { margin-bottom: 0px; }
	#partenaires { text-align:center; margin-top: 30px; }
		.footer-widget { float: left; width: 260px; margin-right: 90px; margin-bottom: 30px; line-height: 24px; }
		.footer-widget ul li, .footer-widget ul li a{ color: #eaeaea; }
		.footer-widget ul li:hover a{ color: #fbbe18; }
		.footer-widget p, .footer-widget a{ color: #ffffff; }
		.footer-widget a:hover{ color: #fbbe18; text-decoration: none;}
			#footer-logo { margin-bottom: 1px; }
			#footer-copyright { font-style: italic; color: #bfbfbf; margin-bottom: -8px; }
			.footer-widget h4.widgettitle { color: #eaeaea; font-size: 18px; font-weight: 800; padding-bottom: 30px; letter-spacing: 0px; }
	#footer-bottom { background:#f5f5f5; border-top: 1px solid #e4e4e4; -webkit-box-shadow: inset 0px -1px 0px #ffffff; -moz-box-shadow: inset 0px -1px 0px #ffffff; box-shadow: inset 0px 1px 0px #ffffff;  }
		p#copyright { padding: 20px 0 30px; text-align: center; font-size:12px; text-shadow: 0px 0px 0 #fff; }
			p#copyright a { color:#555e58; font-weight: 800; }


/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/
#sidebar { float: left; width: 269px; }
	#search-form { height: 38px; border:1px solid #e0dddd; background-color: #fff; -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1); margin-left: -4px; margin-bottom: 35px; }
		#search-form #searchinput { background: none; border: none; float: left; margin: 9px 14px 0 7px; width: 155px; padding-left: 14px; font-size: 14px; color: #555e58; }
		#search-form #searchsubmit { margin-top: 13px; margin-right: 10px; }
	.widget { margin-bottom: 25px; line-height: 24px; padding-left: 44px; }
		.widget h4.widgettitle { margin-left: -44px; letter-spacing: -1px; text-shadow: 0px 0px 0 #fff; color: #555e58; font-size: 14px; font-weight: 800; padding: 22px 26px; border: 1px solid #fff; border: 1px solid #e0dddd; -webkit-box-shadow: 0 1px 0 #fcfcfc inset; -moz-box-shadow: 0 1px 0 #fcfcfc inset; box-shadow: 0 1px 0 #fcfcfc inset; background: rgb(249,249,249); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */ margin-bottom: 38px; }
		.widget > ul { margin: 0 20px 0 0; }
			.widget li, .footer-widget li { font-size: 14px; padding: 0 0 12px 17px; background: url(images/widget-bullet.png) no-repeat 0 8px; }
				.widget li a, .footer-widget li a { text-decoration: none; color: #555e58; }
				.widget li:hover, .footer-widget li:hover { background-image: url(images/hover-widget-bullet.png); }

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; max-width: 96%; padding: 8px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; z-index: 9999; }
	.nav li { position: relative; }
		.nav ul li { float:left; }
			.nav ul a { display:block; float: left; }
.nav li:hover ul, ul.nav li.sfHover ul { left: -65px; top: 33px; }
	.nav li:hover li ul, .nav li.sfHover li ul, .nav li:hover ul, .nav li li:hover ul { top:-999em; }

.nav li li { display: block; padding: 0px; float: left; height: auto !important; }
.nav li ul { width: 150px; z-index:1000; }
	.nav li li a:link, .nav li li a:visited { display: block; height: auto; float: left; }
	.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

.nav li li:hover ul, ul.nav li li.sfHover ul { left: 210px; top: -30px; }

/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: #ffffff; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 20px 0; }

.wp-pagenavi { clear: both; }
#left-area .wp-pagenavi { color: #9a9999; font-size: 14px; padding-top: 7px; text-align: right; text-shadow: 0px 0px 0 #FFFFFF; }
	#left-area .wp-pagenavi .pages { background: none; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding-left: 0;color: #555E58; }
		#left-area .wp-pagenavi span, #left-area .wp-pagenavi a { color: #9a9999; display: inline-block; background: rgb(249,249,249); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */  border-color: #e0dddd; -webkit-box-shadow: 1px 1px 0 #fcfcfc inset; -moz-box-shadow: 1px 1px 0 #fcfcfc inset; box-shadow: 1px 1px 0 #fcfcfc inset; padding: 11px 14px; text-shadow: 0px 0px 0 #FFFFFF !important; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px; }
		#left-area .wp-pagenavi span.current { color: #555e58; font-weight: 800; }
		#left-area .wp-pagenavi .current, #left-area .wp-pagenavi a:hover { background: #FFFFFF; }

#home-section-pricing .pricing-table-wrap { border-color: #35424c; }
#home-section-pricing .pricing-table { width: 481px; margin-bottom: 0; }
	#home-section-pricing .pricing-table ul.pricing li span { left: 55px; }
	#home-section-pricing .pricing-heading { border-bottom: 1px solid #313d46; -webkit-box-shadow: 1px 1px 0 0 #4a5c69 inset; -moz-box-shadow: 1px 1px 0 0 #4a5c69 inset; box-shadow: 1px 1px 0 0 #4a5c69 inset; color: #ffffff; text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.7); background: rgb(64,79,90); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(64,79,90,1) 0%, rgba(60,74,84,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,79,90,1)), color-stop(100%,rgba(60,74,84,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(64,79,90,1) 0%,rgba(60,74,84,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(64,79,90,1) 0%,rgba(60,74,84,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(64,79,90,1) 0%,rgba(60,74,84,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(64,79,90,1) 0%,rgba(60,74,84,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404f5a', endColorstr='#3c4a54',GradientType=0 ); /* IE6-9 */ }
		#home-section-pricing .pricing-title { color: #FFFFFF !important; font-weight: 800; text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7); text-transform: none; letter-spacing: -1px; font-size: 22px; margin:0; padding:0;}
		#home-section-pricing .pricing-table ul.pricing li { background: #465662; border-bottom: 1px solid #35424C; border-top: 1px solid #546876; color: #FFFFFF; font-size: 14px;text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.7) !important; padding: 17px 7px 17px 17px; text-align: center; }
	#home-section-pricing .pricing-table ul.pricing li span { background: none; width: 23px; top: 20px; }
	#home-section-pricing .pricing-table ul.pricing li.x-mark span { background: url(images/pricing_x.png) no-repeat; }
#home-section-pricing .et-pricing { background: url(images/pricing_x.png) no-repeat; -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1); -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1); box-shadow: 1px 1px 1px rgba(0,0,0,0.1); margin-bottom: 60px; margin-top: 0; }

	#home-section-pricing .pricing-big .pricing-content-bottom { border-bottom: 1px solid #334049; }
	#home-section-pricing .pricing-content-bottom { border-bottom: 1px solid #E7E7E7; border-top: 1px solid #4D606D; -webkit-box-shadow: 1px 0 0 0 #4D606D inset; -moz-box-shadow: 1px 0 0 0 #4D606D inset; box-shadow: 1px 0 0 0 #4D606D inset; background: #4a5b67; border-bottom: 1px solid #334049; }
		#home-section-pricing span.et-price { display:none; color: #FFFFFF; font-family: 'Open Sans', Arial, sans-serif; font-size: 72px; font-weight: 300; text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.7); }
			#home-section-pricing span.et-price span.dollar-sign { font-size: 72px; }
		#home-section-pricing a.icon-button { width: auto !important; background: rgb(64,79,90); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(64,79,90,1) 0%, rgba(60,74,84,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,79,90,1)), color-stop(100%,rgba(60,74,84,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(64,79,90,1) 0%,rgba(60,74,84,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(64,79,90,1) 0%,rgba(60,74,84,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(64,79,90,1) 0%,rgba(60,74,84,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(64,79,90,1) 0%,rgba(60,74,84,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404f5a', endColorstr='#3c4a54',GradientType=0 ); /* IE6-9 */ border: 1px solid #2d363d; -webkit-box-shadow: 0 1px 0 #495a66 inset; -moz-box-shadow: 0 1px 0 #495a66 inset; box-shadow: 0 1px 0 #495a66 inset; color: #8ebb1e !important; text-shadow: 0px 0px 0 rgba(0,0,0,0.6); }

.mobile_nav { position: relative; }
#mobile_links { display: none; }

#home-section-pricing { color: #fff; }

.fullwidth #content-area:before { display: none; }
.fullwidth #left-area { width: auto; float: none; margin-right: 0; }
.fullwidth #left-area .pricing-table { width:441px; text-align:center; }
.fullwidth #left-area .pricing-table .et-price{display:none;}
.fullwidth #left-area .pricing-table ul.pricing{}
.fullwidth #left-area .pricing-table ul.pricing li{margin: 17px; background:none;}

.et_embedded_videos { display: none !important; }

.et_color_scheme_gray #main-header { background: rgb(69,76,71); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(69,76,71,1) 0%, rgba(71,80,74,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,76,71,1)), color-stop(100%,rgba(71,80,74,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,76,71,1) 0%,rgba(71,80,74,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(69,76,71,1) 0%,rgba(71,80,74,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(69,76,71,1) 0%,rgba(71,80,74,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(69,76,71,1) 0%,rgba(71,80,74,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454c47', endColorstr='#47504a',GradientType=0 ); /* IE6-9 */ }
	.et_color_scheme_gray #featured .flex-direction-nav a.flex-prev { background: url(images/gray/slider_left_arrow.png) no-repeat; }
	.et_color_scheme_gray #featured .flex-direction-nav a.flex-next  { background: url(images/gray/slider_right_arrow.png) no-repeat; }
		.et_color_scheme_gray .comments_count a { background: url(images/gray/comments_count.png) no-repeat; }
.et_color_scheme_gray .widget li:hover, .et_color_scheme_gray .footer-widget li:hover { background-image: url(images/gray/hover-widget-bullet.png); }
	.et_color_scheme_gray a.learn-more:hover, .et_color_scheme_gray .blog-post a.learn-more:hover, .et_color_scheme_gray .comment-reply-link:hover, .et_color_scheme_gray #home-section-news a.more-info:hover, .et_color_scheme_gray #home-section-projects a.more-info:hover, .et_color_scheme_gray #home-section-pricing a.more-info:hover { border: 1px solid #292e2b; -webkit-box-shadow: 1px 1px 0 #6d7c72 inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 1px 1px 0 #6d7c72 inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 1px 1px 0 #6d7c72 inset, 0 1px 2px rgba(0,0,0,0.1); background: rgb(85,94,87); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(85,94,87,1) 0%, rgba(71,80,74,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,94,87,1)), color-stop(100%,rgba(71,80,74,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(85,94,87,1) 0%,rgba(71,80,74,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(85,94,87,1) 0%,rgba(71,80,74,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(85,94,87,1) 0%,rgba(71,80,74,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(85,94,87,1) 0%,rgba(71,80,74,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555e57', endColorstr='#47504a',GradientType=0 ); /* IE6-9 */ }
.et_color_scheme_gray ul.nav > li.current-menu-item > a, .et_color_scheme_gray a.mobile_nav, .et_color_scheme_gray ul.nav li ul, .et_color_scheme_gray .et_mobile_menu { background: #3d4540; border: 1px solid #303733; }

.et_color_scheme_red #main-header { background: rgb(255,75,75); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(255,75,75,1) 0%, rgba(230,63,64,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,75,75,1)), color-stop(100%,rgba(230,63,64,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(255,75,75,1) 0%,rgba(230,63,64,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(255,75,75,1) 0%,rgba(230,63,64,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(255,75,75,1) 0%,rgba(230,63,64,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(255,75,75,1) 0%,rgba(230,63,64,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b4b', endColorstr='#e63f40',GradientType=0 ); /* IE6-9 */  }
	.et_color_scheme_red #featured .flex-direction-nav a.flex-prev { background: url(images/red/slider_left_arrow.png) no-repeat; }
	.et_color_scheme_red #featured .flex-direction-nav a.flex-next  { background: url(images/red/slider_right_arrow.png) no-repeat; }
		.et_color_scheme_red .comments_count a { background: url(images/red/comments_count.png) no-repeat; }
.et_color_scheme_red .widget li:hover, .et_color_scheme_red .footer-widget li:hover { background-image: url(images/red/hover-widget-bullet.png); }
	.et_color_scheme_red a.learn-more:hover, .et_color_scheme_red .blog-post a.learn-more:hover, .et_color_scheme_red .comment-reply-link:hover, .et_color_scheme_red #home-section-news a.more-info:hover, .et_color_scheme_red #home-section-projects a.more-info:hover, .et_color_scheme_red #home-section-pricing a.more-info:hover { border: 1px solid #b23434; -webkit-box-shadow: 1px 1px 0 #fe7b7b inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 1px 1px 0 #fe7b7b inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 1px 1px 0 #fe7b7b inset, 0 1px 2px rgba(0,0,0,0.1); background: rgb(252,74,74); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(252,74,74,1) 0%, rgba(230,64,64,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,74,74,1)), color-stop(100%,rgba(230,64,64,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(252,74,74,1) 0%,rgba(230,64,64,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(252,74,74,1) 0%,rgba(230,64,64,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(252,74,74,1) 0%,rgba(230,64,64,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(252,74,74,1) 0%,rgba(230,64,64,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4a4a', endColorstr='#e64040',GradientType=0 ); /* IE6-9 */ }
.et_color_scheme_red ul.nav > li.current-menu-item > a, .et_color_scheme_red a.mobile_nav, .et_color_scheme_red ul.nav li ul, .et_color_scheme_red .et_mobile_menu { background: #d83d3d; border: 1px solid #c33333; }

.et_color_scheme_green #main-header { background: rgb(165,219,89); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(165,219,89,1) 0%, rgba(149,197,79,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,219,89,1)), color-stop(100%,rgba(149,197,79,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(165,219,89,1) 0%,rgba(149,197,79,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(165,219,89,1) 0%,rgba(149,197,79,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(165,219,89,1) 0%,rgba(149,197,79,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(165,219,89,1) 0%,rgba(149,197,79,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5db59', endColorstr='#95c54f',GradientType=0 ); /* IE6-9 */ }
	.et_color_scheme_green #featured .flex-direction-nav a.flex-prev { background: url(images/green/slider_left_arrow.png) no-repeat; }
	.et_color_scheme_green #featured .flex-direction-nav a.flex-next  { background: url(images/green/slider_right_arrow.png) no-repeat; }
		.et_color_scheme_green .comments_count a { background: url(images/green/comments_count.png) no-repeat; }
.et_color_scheme_green .widget li:hover, .et_color_scheme_green .footer-widget li:hover { background-image: url(images/green/hover-widget-bullet.png); }
	.et_color_scheme_green a.learn-more:hover, .et_color_scheme_green .blog-post a.learn-more:hover, .et_color_scheme_green .comment-reply-link:hover, .et_color_scheme_green #home-section-news a.more-info:hover, .et_color_scheme_green #home-section-projects a.more-info:hover, .et_color_scheme_green #home-section-pricing a.more-info:hover { border: 1px solid #80a64a; -webkit-box-shadow: 1px 1px 0 #b6e96c inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 1px 1px 0 #b6e96c inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 1px 1px 0 #b6e96c inset, 0 1px 2px rgba(0,0,0,0.1); background: rgb(165,218,89); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(165,218,89,1) 0%, rgba(149,197,79,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,218,89,1)), color-stop(100%,rgba(149,197,79,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(165,218,89,1) 0%,rgba(149,197,79,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(165,218,89,1) 0%,rgba(149,197,79,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(165,218,89,1) 0%,rgba(149,197,79,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(165,218,89,1) 0%,rgba(149,197,79,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5da59', endColorstr='#95c54f',GradientType=0 ); /* IE6-9 */ }
.et_color_scheme_green ul.nav > li.current-menu-item > a, .et_color_scheme_green a.mobile_nav, .et_color_scheme_green ul.nav li ul, .et_color_scheme_green .et_mobile_menu { background: #8bba47; border: 1px solid #6d9c2a; }

.et_color_scheme_blue #main-header { background: rgb(67,169,228); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(67,169,228,1) 0%, rgba(57,154,209,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,169,228,1)), color-stop(100%,rgba(57,154,209,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a9e4', endColorstr='#399ad1',GradientType=0 ); /* IE6-9 */  }
	.et_color_scheme_blue #featured .flex-direction-nav a.flex-prev { background: url(images/blue/slider_left_arrow.png) no-repeat; }
	.et_color_scheme_blue #featured .flex-direction-nav a.flex-next  { background: url(images/blue/slider_right_arrow.png) no-repeat; }
		.et_color_scheme_blue .comments_count a { background: url(images/blue/comments_count.png) no-repeat; }
.et_color_scheme_blue .widget li:hover, .et_color_scheme_blue .footer-widget li:hover { background-image: url(images/blue/hover-widget-bullet.png); }
	.et_color_scheme_blue a.learn-more:hover, .et_color_scheme_blue .blog-post a.learn-more:hover, .et_color_scheme_blue .comment-reply-link:hover, .et_color_scheme_blue #home-section-news a.more-info:hover, .et_color_scheme_blue #home-section-projects a.more-info:hover, .et_color_scheme_blue #home-section-pricing a.more-info:hover { border: 1px solid #2e82b3; -webkit-box-shadow: 1px 1px 0 #66bef2 inset, 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 1px 1px 0 #66bef2 inset, 0 1px 2px rgba(0,0,0,0.1); box-shadow: 1px 1px 0 #66bef2 inset, 0 1px 2px rgba(0,0,0,0.1); background: rgb(65,166,224); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(65,166,224,1) 0%, rgba(57,154,209,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,166,224,1)), color-stop(100%,rgba(57,154,209,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(65,166,224,1) 0%,rgba(57,154,209,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(65,166,224,1) 0%,rgba(57,154,209,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(65,166,224,1) 0%,rgba(57,154,209,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(65,166,224,1) 0%,rgba(57,154,209,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a6e0', endColorstr='#399ad1',GradientType=0 ); /* IE6-9 */ }
.et_color_scheme_blue ul.nav > li.current-menu-item > a, .et_color_scheme_blue a.mobile_nav, .et_color_scheme_blue ul.nav li ul, .et_color_scheme_blue .et_mobile_menu { background: #3690c3; border: 1px solid #327da9; }

@media only screen and ( max-width: 960px ) {
	#et-search, p#et-search-title, p#et-search-title span { background: none !important; }
	#et-search { width: auto !important; height: auto !important; }
		#et-search-inner { padding: 0 !important; }
			#et-search-right { float: none !important; clear: both; text-align: left !important; }
				#et_search_submit { background: #BBB8B8 !important; color: #111 !important; }
			p#et-search-title { margin-bottom: 2px !important; }
				p#et-search-title span { padding: 0 !important; text-shadow: none !important; }
	#et-searchinput { width: auto !important; }
	p#et_choose_posts, p#et_choose_pages, p#et_choose_date, p#et_choose_cat { float: none !important; }
	#et-search-left { float: none !important; width: 100% !important; }
	#home-section-info{
		/*border:1px solid red;*/
	}
	.et_page_icon{
		margin-left:-18px; 
	}
	#featured h2{ 
		width: 50%;
		display: block;
		margin: -10px 0 30px 33%; 
		text-align: left;
		padding: 0 0 0 15px;
	}
	#page-name .section-title h1 { 
		font-size: 46px; 
		line-height: 54px; 
		text-transform: uppercase;
		font-weight: 800; 
		padding: 0 0 0 20px; 
		margin: -10px 0 0 33%;
		height: 144px;
		text-shadow: 0px 0px 0px #4d660f;
		text-align: left;
		width: 60%;
		letter-spacing: 0.2px;
		text-shadow: 2px 2px 0px #ffffff;
		text-shadow: 2px 2px 0px #ffffff;
	}

	
}

@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
	.container, #featured.flexslider .slides { width: 728px; }
	
		#featured h2 { font-size: 60px; }
			#featured .description { font-size: 26px; }
		.service { width: 200px; margin-right: 63px;}
			.service h3 { font-size: 18px;}
		.section-title h2 { font-size: 60px; padding-bottom: 15px; }
		.section-title h3 { font-size: 30px; }
	#home-section-news, #home-section-projects { padding: 120px 0; }
		.blog-post { margin: 0 0px 60px 0; width: 25%; }
		
		#home-section-news .blog-post .blog-post-image { 
			background: url(images/etapes_fleches_min.png) no-repeat center right; 
		}
		
		#home-section-news .blog-post:first-child .blog-post-image {
			background: url(images/etapes_fleches_first_min.png) no-repeat center right;
		}
		#home-section-news .blog-post:last-child .blog-post-image {
			background: none;
		}


			#home-section-news .blog-post h3 { font-size: 18px; text-align:center; }
			#home-section-news .blog-post p { text-align:center; }
		.portfolio-image { margin-right: 54px !important; }
		.post-thumbnail.portfolio-image { margin-right: 0 !important; margin-left: 55px; }
			.portfolio-image img	{ width: 204px; }
			.post-thumbnail.portfolio-image img { width: auto; }
		.portfolio_info_top { left: 45px; top: 50px; }
			.portfolio_info_top h3.title { font-size: 14px; }
			.portfolio_description > a { bottom: 24px; left: 52px; }
		.section-title h2, #page-name h1 { font-size: 60px; }
		.section-title h3, .main_post_info { font-size: 30px; }
		#content-area:before { left: 459px; }
			#left-area { width: 379px; }
				.entry { margin-right: 0; width: auto; }
	#main-footer { padding-top: 97px; }
		.footer-widget { margin-right: 58px; width: 204px; }
	.et_page_icon { left: 83px; }

	#et_pt_portfolio_gallery { margin-left: -35px !important; }
		.et_pt_portfolio_item { margin-left: 35px !important; width: 219px !important; }
		.et_portfolio_more_icon, .et_portfolio_zoom_icon { top: 50px !important; }
		.et_portfolio_more_icon { left: 65px !important; }
		.et_portfolio_zoom_icon { left: 106px !important; }

	#et_pt_portfolio_gallery.et_portfolio_small { margin-left: -18px !important; }
		#et_pt_portfolio_gallery.et_portfolio_small .et_pt_portfolio_item { margin-left: 20px !important; width: 128px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { top: 20px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon { left: 26px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { left: 62px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: -28px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 29px !important; width: 348px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 99px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 140px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 178px !important; }

	#home-section-pricing .pricing-table { width: 243px; }
	#home-section-pricing .pricing-table ul.pricing li { padding-left: 55px; }
	#home-section-pricing .pricing-table ul.pricing li span { left: 23px; }

	#top-area { padding-bottom: 50px; }
	#featured .description { padding-bottom: 24px; }

	.portfolio_info_top { display: none !important;}
}

@media only screen and ( max-width: 767px ) {
	
	#home-section-info{
		/*border:1px solid yellow;*/
	}

	#home-section-info .service{
				border-bottom:1px dotted #eaeaea;
				padding-bottom: 50px;
	}
	#home-section-info .service.last{
				border-bottom:0px solid #eaeaea;
				padding-bottom: 0px;
	}
	.container, #featured.flexslider .slides { width: 440px; }
		#top-area { text-align: center; margin-bottom: 12px; }
			#logo { float: none; padding-left: 0; }
		
			
		#featured h2:before{ 
			content: "Prix de l'Economie sociale";
			display: block;
			font-size: 18px; 
			text-shadow: none;
			text-transform: uppercase;
			font-weight: 900;
			color: #fff;
			letter-spacing: 0.5px;
			margin: 0 0 20px 0;
		}
		#featured h2{ 
					width: 65%;
					display: block;
					margin: 40px 0 30px 25%; 
					text-align: left;
					padding: 0 0 0 0px;
					text-shadow: 2px 2px 0px #ffffff;
				}
		#featured h2 a{ 
					font-size: 42px; 
					line-height: 46px;

				}
		#page-name .section-title h1 { 
				font-size: 42px; 
				line-height: 48px; 
				text-transform: uppercase;
				font-weight: 800; 
				padding: 0 0 0 20px; 
				margin: 45px 0 0 25%;
				height: auto;
				text-shadow: 0px 0px 0px #4d660f;
				text-align: left;
				width: 65%;
				letter-spacing: 0.2px;
				text-shadow: 2px 2px 0px #ffffff;
			}
			#featured .flex-direction-nav a.flex-prev { background: url(images/small_slider_left_arrow.png) no-repeat; }
			#featured .flex-direction-nav a.flex-next  { background: url(images/small_slider_right_arrow.png) no-repeat; }
		#home-section-info { padding: 76px 0 80px; }
		#home-section-news, #home-section-projects, #home-section-pricing { padding: 80px 0; }
			#services { padding-bottom: 42px; }
				.service { background: none; margin-right: 0; padding-top: 0; width: 440px; margin-bottom: 40px; }
			#quote h3 { font-size: 26px; line-height: 32px; }
			#quote p { font-size: 18px; line-height: 28px; margin: 20px 0 0 0; }
			.blog-post { margin: 0 0 18px; width: 440px; }
				.blog-post-image img, .et_page_icon { }
				.blog-post h3 { font-size: 18px; }
		#home-section-news .blog-post .blog-post-image { 
			background: none; 
		}
		
		#home-section-news .blog-post:first-child .blog-post-image {
			background: none; 
		}
		#home-section-news .blog-post:last-child .blog-post-image {
			background: none;
		}
		.service a img{
			display: none;
		}

			.portfolio-image { margin-right: 21px !important; }
				.portfolio-image img	{ width: 130px; }
			.post-thumbnail.portfolio-image { margin-right: 0 !important; margin-left: 85px; }
				.post-thumbnail.portfolio-image img { width: auto; }
			.portfolio_info_top { left: 12px; top: 10px; }
				.portfolio_info_top h3.title { font-size: 12px; }
				.portfolio_description > a { bottom: 0; left: 23px; font-size: 11px; padding: 8px 12px; }
		p#copyright { text-align: center; }
			.section-title h2, #page-name h1 { font-size: 48px; }
		.section-title h3, .main_post_info { font-size: 24px; }
		#content-area:before { border-left: none; }
			#left-area { width: 440px; margin-right: 0; float: none; }
				.entry { margin-right: 0; width: auto; }

			#sidebar { display: none; }
			.footer-widget { width: auto; float: none; margin-right: 0; }

	#top-menu, #content-area:before { display: none; }

	#mobile_links { 
		padding-top: 0px; 
		display: block; 
	}
	#mobile_links a{ 
		text-indent: -10000px; 
		background: transparent url(images/menu.png) no-repeat center center;
		cursor: pointer;
	}
	#mobile_links a:hover { 
		text-indent: -10000px; 
		background: transparent url(images/menu_hover.png) no-repeat center center;
		cursor: pointer;
	}
	#mobile_links a ul{ 
		text-indent: 0px;
	}
	#mobile_links ul a{ 
		background: none;
	}
	#mobile_links ul a:hover{ 
		background: none;
	}

	a.mobile_nav { display: inline-block; }
ul.nav li ul, .et_mobile_menu { 
	position: absolute;
	left: 50%;
	margin: 0 0 0 -150px;
	background: #f5f5f5; 
	border: 0px solid #dddddd; 
	padding: 15px 30px; 
	width:300px; 
	 }

	#main-header .container #top-area{ 
		width: 100%; 
		background: #fff; 
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	#top-area { margin:0; padding: 0;  }

	.et_pt_gallery_entry { margin-left: 23px !important; }

	.sitemap-col { float: none !important; width: auto !important; }

	.et_pt_portfolio_item { margin-left: 150px !important; }

	.et_portfolio_small .et_pt_portfolio_item { width: 440px !important; margin-bottom: 10px; margin-left: 44px !important; }
		.et_portfolio_small .et_pt_portfolio_entry { float: left; margin-right: 15px; }
		.et_portfolio_small .et_portfolio_more_icon, .et_portfolio_small .et_portfolio_zoom_icon { top: 30px !important; }
		.et_portfolio_small .et_portfolio_more_icon { left: 38px !important; }
		.et_portfolio_small .et_portfolio_zoom_icon { left: 77px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: 0 !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 0 !important; width: 404px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 109px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 155px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 195px !important; }

	#home-section-pricing .et-pricing { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
	#home-section-pricing .pricing-table { width: 100%; margin-bottom: 35px;  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }

	.et_color_scheme_red #featured .flex-direction-nav a.flex-prev { background: url(images/red/small_slider_left_arrow.png) no-repeat; }
	.et_color_scheme_red #featured .flex-direction-nav a.flex-next  { background: url(images/red/small_slider_right_arrow.png) no-repeat; }
	.et_color_scheme_green #featured .flex-direction-nav a.flex-prev { background: url(images/green/small_slider_left_arrow.png) no-repeat; }
	.et_color_scheme_green #featured .flex-direction-nav a.flex-next  { background: url(images/green/small_slider_right_arrow.png) no-repeat; }
	.et_color_scheme_gray #featured .flex-direction-nav a.flex-prev { background: url(images/gray/small_slider_left_arrow.png) no-repeat; }
	.et_color_scheme_gray #featured .flex-direction-nav a.flex-next  { background: url(images/gray/small_slider_right_arrow.png) no-repeat; }
	.et_color_scheme_blue #featured .flex-direction-nav a.flex-prev { background: url(images/blue/small_slider_left_arrow.png) no-repeat; }
	.et_color_scheme_blue #featured .flex-direction-nav a.flex-next  { background: url(images/blue/small_slider_right_arrow.png) no-repeat; }

	#page-name { margin-top: 0; }

	.portfolio_info_top { display: none !important; }
}

@media only screen and ( max-width: 479px ) {
	ul.nav li ul, .et_mobile_menu { 
		position: absolute;
		left: 50%;
		margin: 0 0 0 -130px;
		background: #f5f5f5; 
		border: 0px solid #dddddd; 
		padding: 15px 30px; 
		width:200px; 
	 }

	.container, #featured.flexslider .slides { width: 280px; }
		#top-area { text-align: center; margin-bottom: 6px; }
			#logo { float: none; padding-left: 0; }
		#featured h2:before{ 
			content: "Prix de l'Economie sociale";
			display: block;
			font-size: 16px; 
			text-shadow: none;
			text-transform: uppercase;
			font-weight: 900;
			color: #fff;
			letter-spacing: 0.5px;
			margin: 0 0 20px 0;
		}
		#featured h2{ 
					width: 100%;
					display: block;
					margin: 40px 0 30px 0; 
					text-align: left;
					padding: 0 0 0 0px;
					text-shadow: 2px 2px 0px #ffffff;
				}
		#featured h2 a{ 
					font-size: 36px; 
					line-height: 40px;

				}
		#page-name .section-title h1 { 
				font-size: 36px; 
				line-height: 40px; 
				text-transform: uppercase;
				font-weight: 800; 
				padding: 0 20px; 
				margin: 65px 0 0 10px;
				height: auto;
				text-shadow: 0px 0px 0px #4d660f;
				text-align: left;
				width: 80%;
				letter-spacing: 0.2px;
				text-shadow: 2px 2px 0px #ffffff;
			}
			#featured .description { font-size: 16px; }
			#featured .flex-direction-nav a.flex-prev { background: url(images/small_slider_left_arrow.png) no-repeat; }
			#featured .flex-direction-nav a.flex-next  { background: url(images/small_slider_right_arrow.png) no-repeat; }
		#home-section-info { padding: 76px 0 80px; }
		#home-section-news, #home-section-projects, #home-section-pricing { padding: 80px 0; }
			#services { padding-bottom: 40px; }
				.service { background: none; margin-right: 0; padding-top: 0; width: auto; margin-bottom: 40px; float: none; }
			#quote h3 { font-size: 24px; line-height: 30px; }
			#quote p { font-size: 18px; line-height: 28px; margin: 20px 0 0 0; }
			.blog-post { margin: 0 0 28px; width: auto; float: none; }
				.blog-post-image img {  }
				.blog-post h3 { font-size: 18px; }

			#home-section-news a.more-info { margin-top: 20px; }

			.portfolio-image, .portfolio-image.last { margin-right: 21px !important; }
				.portfolio-image img	{ width: 130px; }
			.portfolio_info_top { left: 12px; top: 10px; }
				.portfolio_info_top h3.title { font-size: 12px; }
				.portfolio_description > a { bottom: 0; left: 23px; font-size: 11px; padding: 8px 12px; }
		.section-title h2, #page-name h1 { font-size: 32px; }
		.section-title h3, .main_post_info { font-size: 16px; }
		#content-area:before { border-left: none; }
			#left-area { width: auto; }
				.entry { margin-right: 0; width: auto; }
			#sidebar, #footer-widgets { display: none; }
			#main-footer { padding-top: 0; }
				p#copyright { text-align: center; }
		.post-thumbnail.portfolio-image { margin-left: 24px; }

		.comment ul { margin-left: 0; }

		.et_pt_gallery_entry { margin-left: 78px !important; }

		#et_pt_portfolio_gallery, #et_pt_portfolio_gallery.et_portfolio_large { margin-left: -19px !important; }
			.et_pt_portfolio_item, #et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 60px !important; width: 228px !important; }
				.et_portfolio_more_icon, .et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 53px !important; }
				.et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 70px !important; }
				.et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 110px !important; }

		.entry .et_portfolio_small .et_pt_portfolio_item { width: 262px !important; margin-left: -15px !important; }

		.et_portfolio_small .et_pt_portfolio_item { margin-left: 18px !important; width: 315px !important; }

	.section-title h2, #page-name h1,	.section-title h3 { letter-spacing: 2px; }

	.et_color_scheme_red #featured .flex-direction-nav a.flex-prev { background: url(images/red/small_slider_left_arrow.png) no-repeat; }
	.et_color_scheme_red #featured .flex-direction-nav a.flex-next  { background: url(images/red/small_slider_right_arrow.png) no-repeat; }
	.et_color_scheme_green #featured .flex-direction-nav a.flex-prev { background: url(images/green/small_slider_left_arrow.png) no-repeat; }
	.et_color_scheme_green #featured .flex-direction-nav a.flex-next  { background: url(images/green/small_slider_right_arrow.png) no-repeat; }
	.et_color_scheme_gray #featured .flex-direction-nav a.flex-prev { background: url(images/gray/small_slider_left_arrow.png) no-repeat; }
	.et_color_scheme_gray #featured .flex-direction-nav a.flex-next  { background: url(images/gray/small_slider_right_arrow.png) no-repeat; }
	.et_color_scheme_blue #featured .flex-direction-nav a.flex-prev { background: url(images/blue/small_slider_left_arrow.png) no-repeat; }
	.et_color_scheme_blue #featured .flex-direction-nav a.flex-next  { background: url(images/blue/small_slider_right_arrow.png) no-repeat; }

	#breadcrumbs { display: none; }
}

.portfolio-image { margin-right: 77px; margin-bottom: 50px; }
	p.portfolio_small_date { font-size: 18px; color: #4a524d; font-weight: 800; text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.7);  }
	.portfolio_info_top h3.title { font-weight: 800; text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.7); margin-top: -35px; font-size: 18px; letter-spacing: -1px; }
		.portfolio_info_top h3.title a { text-decoration: none; color: #4a524d; }
	.portfolio_description > a	{ text-decoration: none; background: rgb(249,249,249); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(246,246,246,1) 100%, rgba(242,242,242,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(246,246,246,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(246,246,246,1) 100%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(246,246,246,1) 100%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(246,246,246,1) 100%,rgba(242,242,242,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(246,246,246,1) 100%,rgba(242,242,242,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */ border: 1px solid #e0dddd; border-radius: 5px 5px 5px 5px; -webkit-box-shadow: 1px 1px 0 #fcfcfc inset; -moz-box-shadow: 1px 1px 0 #fcfcfc inset; box-shadow: 1px 1px 0 #fcfcfc inset; color: #9a9999; display: inline-block; padding: 10px 16px; text-shadow: 0px 0px 0 #ffffff; }

#content-area.fullwidth:before { display: none; }

.et_pt_portfolio_item h2, #content-area h2, #content-area h3, #content-area h4, #content-area h5, #content-area h6 { letter-spacing: -1px; }

/* MyStyle */

.btn-1 {
	margin-right: 10px;
	margin-bottom: 10px;
    text-decoration: none;
    background: #16B5B5;

    border: 0px solid #ebf6f8;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    display: inline-block;
    padding: 10px 16px;
    width: 110px;
    height: 50px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-weight: 700;

}

.btn-1:hover {
	margin-right: 10px;
	margin-bottom: 10px;
   text-decoration: none; 
   background: #FBBE18;  

   border: 0px solid #e75229; 
   border-radius: 5px 5px 5px 5px;  
   color: #ebf6f8; 
   display: inline-block; 
   padding: 10px 16px;  
   width: 110px; 
   text-align:center; 
   transition: all 0.2s ease-in-out;
}
.btn-2 {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
    text-decoration: none;
    background: #16B5B5;
    border: 0px solid #ebf6f8;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    display: inline-block;
    padding: 23px 16px;
    width: 110px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    float: left;
}

.btn-2:hover {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
   text-decoration: none; 
   background: #FBBE18;  
   border: 0px solid #e75229; 
   border-radius: 5px 5px 5px 5px;  
   color: #ebf6f8; 
   display: inline-block; 
    padding: 23px 16px;
   width: 110px; 
   text-align:center; 
   transition: all 0.2s ease-in-out;
    float: left;
}

#content-btn1{
	float:left;
	margin-left: 45px;
}
#content-btn2{
	float:left;

}

#content-btn3{
	float:left;
	margin-left: 10px;
		margin-top: 81px;
}

#content-btn4{
	float:left;
	margin-left: 10px;
		margin-top: 81px;
}

#title-presse {
	font-size: 46px;
    font-weight: 800;
    padding-bottom: 0px;
    letter-spacing: 0.5px;
    line-height: 52px;
    margin: 40px 0 40px 0;
    color: #10616a;
}